.nav.navbar-nav {
    font-size: 15px;
}

#searchForm {
    margin-right: 100px;
}

.navbar.navbar-default {
    margin-top: 10px;
}

@media (max-width: 1200px) {
    #searchForm {
        display: none;
    }
}
