<div *ngIf="event; else EmptyEvent">
  <img class="event-image" [src]="event?.imageUrl" [alt]="event?.name">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> ${{event?.price}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>
</div>

<hr>
<div class="col-md-2">
  <h2 style="margin: 0">Sessions</h2>
</div>

<div class="col-md-2">
  <a (click)="addSession()">Add New Session</a>
</div>

<create-session *ngIf="addNew" (cancelNewSession)="cancelNewSession()"></create-session>

<session-list *ngIf="!addNew" [sessions]="event.sessions"></session-list>

<ng-template #EmptyEvent>
 <h1> No Event Available! </h1>
</ng-template>
